/* Customize the site */
/* TODO */
.container {
    max-width: 1000px;
}

.panelwindow {
    height: 250px;
}

.newshead {
    background-color: #eeeeee;
}

#banner {
    height: auto;
    width: 100%;
}

.heavy_color {
    background-color: #00184d;
    border-color: #00184d;
    color: #ffffff;
}

.light_color {
    background-color: #c1cada;
}

.text-white {
    color: #ffffff;
}

.inline_contents {
    background-color: transparent;
}
/* Customize the navbar */
/* TODO */

.table_title { 
 font-weight: bold;
}

.table_author {
 font-style: italic;
 font-size: 85%;
}

.table_authorJP {
 font-size: 85%;
}